# things related to vagrant
/.vagrant
/*.log

# composer lock file
/composer.lock

# laravel ignores
/node_modules
/public/storage
/public/img/property-images
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
