img.list-propertyimage {
    width: 100%;
}

img.list-imageicon {
    width: 32%;
    padding-right: 1%;
}

a.property-link {
    color: black;
}

div.list-property {
    padding-top: 2em;
    border-bottom: 1px solid lightgrey;
}

div.chat-property {
}

div.list-image-area {
}

div.view-buttons div a.btn {
    width: 100%;
    margin-bottom: 1em;
}

h4.list-price {
    color: red;
}

/*span.twopspacer {
}*/

footer {
    background-color: #220022;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    margin-top: 1em;
}

body {
    padding-top: 70px;
}
